.edit-section-text {
    h5 {
        font-size: 14pt;
        margin: 0;

        .img {
            width: 50px;
            display: inline-block;
            margin-right: 8px;

            img {
                height: 16px;
                width: 50px;
            }
        }
    }
}
