<div class="details-section section">
    <h3 id="detailsHeading">{{ 'HEADING_DETAILS'|translate }}</h3>
    <div class="form-group">
        <label class="col-sm-3 control-label is-optional"><span>{{ 'OPTIONAL'|translate }}</span>{{ 'VOLUME'|translate }}:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" [(ngModel)]="product.volume">
        </div>
        <div class="col-sm-4 help">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label is-optional"><span>{{ 'OPTIONAL'|translate }}</span>{{ 'WEIGHT'|translate }}:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" [(ngModel)]="product.weight">
        </div>
        <div class="col-sm-4 help">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label is-optional"><span>{{ 'OPTIONAL'|translate }}</span>{{ 'BRAND'|translate }}:</label>
        <div class="col-sm-5">
            <select class="form-control" [(ngModel)]="product.brand_id" [selected]="product.brand_id" brand-select></select>
        </div>
        <div class="col-sm-4 help">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label is-optional"><span>{{ 'OPTIONAL'|translate }}</span>{{ 'MANUFACTURER'|translate }}:</label>
        <div class="col-sm-5">
            <select class="form-control" [(ngModel)]="product.manufacturer" [selected]="product.manufacturer" manufacturer-select></select>
        </div>
        <div class="col-sm-4 help">
        </div>
    </div>
    <div class="form-group" *ngIf="product.manufacturer > 0">
        <label class="col-sm-3 control-label is-optional"><span>{{ 'OPTIONAL'|translate }}</span>{{ 'MANUFACTURER_ITEM_NO'|translate }}:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]="product.manufacturer_no">
        </div>
        <div class="col-sm-4 help">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label is-optional"><span>{{ 'OPTIONAL'|translate }}</span>{{ 'PRODUCT_NOTES'|translate }}:</label>
        <div class="col-sm-5">
            <textarea class="form-control" [(ngModel)]="product.notes" rows="10"></textarea>
        </div>
        <div class="col-sm-4 help">
        </div>
    </div>
    <properties [product]="product" [integrations]="integrations"></properties>
</div>
