<div style="white-space: nowrap;">
    <button style="float:left; background: transparent;" (click)="onChangeQuantity('decrease')" angulartics2On="click" angularticsCategory="inventoryListQuantity" angularticsEvent="decrease" class="btn btn-transparent btn-xs"><i class="fa fa-minus"></i></button>
    <div style="width: 50px; float:left; text-align: center"><span>{{ product.quantity }}</span></div>
    <button style="float:left; background: transparent;" (click)="onChangeQuantity('increase')" angulartics2On="click" angularticsCategory="inventoryListQuantity" angularticsEvent="increase" class="btn btn-transparent btn-xs"><i class="fa fa-plus"></i></button>
</div>
