.mail-settings {
    .variable {
        small {
            display: block;
            padding-top: 5px;
            color: $textGray;
        }
    }

    .explain {
        padding-bottom: 15px;
        font-size: 14px;
        display: block;
    }
}