<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-3 control-label">Länk till sidan på facebook:</label>
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">https://www.facebook.com/</span>
                        <input type="text" class="form-control" [(ngModel)]="editing.settings.page" name="settings_page" placeholder="selloio" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-3 control-label">Visa sidans bakgrundsbild:</label>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <ui-switch [(ngModel)]="editing.settings.cover" name="settings_cover"></ui-switch>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-3 control-label">Visa bild på de som gillar sidan:</label>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <ui-switch [(ngModel)]="editing.settings.facepile" name="settings_facepile"></ui-switch>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-3 control-label">Storlek på header:</label>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <button type="button" class="btn {{ editing.settings.small_header ? 'btn-primary' : 'btn-default' }}" (click)="editing.settings.small_header = true">Liten</button>
                        <button type="button" class="btn {{ !editing.settings.small_header ? 'btn-primary' : 'btn-default' }}" (click)="editing.settings.small_header = false">Stor</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-3 control-label">Höjd (i antal pixlar):</label>
                <div class="col-xs-2">
                    <input type="number" class="form-control" [(ngModel)]="editing.height" name="height" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-3 control-label">Flikar att visa:</label>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <button type="button" class="btn {{ editing.settings.tabs.timeline ? 'btn-primary' : 'btn-default' }}" (click)="editing.settings.tabs.timeline = !editing.settings.tabs.timeline">Timeline</button>
                        <button type="button" class="btn {{ editing.settings.tabs.events ? 'btn-primary' : 'btn-default' }}" (click)="editing.settings.tabs.events = !editing.settings.tabs.events">Event</button>
                        <button type="button" class="btn {{ editing.settings.tabs.messages ? 'btn-primary' : 'btn-default' }}" (click)="editing.settings.tabs.messages = !editing.settings.tabs.messages">Meddelanden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>