<div class="col-xs-12" *ngIf="files">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Höjd</label>
                <div class="input-group" style="width: 140px;">
                    <input class="form-control" type="number" [(ngModel)]="editing.height" />
                    <span class="input-group-addon">
                        <span>px</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Bild interval</label>
                <div class="input-group" style="width: 140px;">
                    <input class="form-control" type="number" [(ngModel)]="editing.settings.interval" multiply="1000" />
                    <span class="input-group-addon">
                        <span>s</span>
                    </span>
                </div>
            </div>
            <div *ngFor="let slide of slides; let i = index;" class="form-group">
                <label>Slide {{ i + 1 }}</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="editing.settings['image_'+i]" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" (click)="onRemoveSlide(i)" class="btn btn-default"><span class="fa fa-fw fa-remove fa-sm"></span></button>
                    </span>
                </div>
            </div>
            <div *ngIf="addSlide.visible" class="col-sm-4">
                <p>
                    <span class="text">{{ 'IMAGE'|translate }}</span><br>
                    <select #image="ngModel" [(ngModel)]="addSlide.url">
                        <option *ngFor="let file of files" [value]="file.url">{{ file.name }}</option>
                    </select>
                    <img src="{{ image.value }}" style="max-width: 200px; max-height: 50px">
                </p>
                <p><a routerLink="/settings/selloshop/{{integrationId}}/files">Add file that is not listed here</a></p>
                <button type="button" class="btn btn-primary" (click)="onAddSlide(image.value)"><span class="fa fa-check fa-lg"></span></button>
            </div>
            <button *ngIf="!addSlide.visible" type="button" class="btn btn-primary" (click)="addSlide.visible = true"><span class="fa fa-plus fa-lg"></span></button>
        </div>
    </div>
</div>