<div class="status-box">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ 'SETTINGS_SELLOSHOP_CATEGORIES'|translate }}</h2>
        </div>
        <div class="col-md-6 text-right">
            <button (click)="createNew.visible = true" *ngIf="!createNew.visible" class="action-button"><i class="fa fa-plus"></i> {{ 'CREATE_NEW'|translate }}</button>
        </div>
    </div>

    <div class="x-body" *ngIf="createNew.visible">
        <div class="setting-panel">
            <h3>{{ 'CREATE_CATEGORY'|translate }}</h3>
            <form #createNewForm="ngForm" (submit)="onCreateNew(createNewForm.value, createNewForm.valid)" class="setting-form">
                <div class="row">
                    <div class="col-sm-4">
                        <p>
                            <span class="text">{{ 'NAME'|translate }}</span><br>
                            <input type="text"
                                [ngModel]="createNew.name"
                                #name="ngModel"
                                name="name"
                                required>
                            <small [hidden]="name.valid || (name.pristine && !createNewForm.submitted)" class="text-danger">{{ 'Name is required' |translate }}</small>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <span class="text">{{ 'SEO_URL'|translate }}</span><br>
                            <input type="text"
                                [ngModel]="createNew.link"
                                #link="ngModel"
                                name="link">
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <span class="text">{{ 'IMAGE'|translate }}</span><br>
                            <select
                                [(ngModel)]="createNew.image"
                                #image="ngModel"
                                name="image">
                                <option *ngFor="let file of files" [value]="file.url">{{ file.name }}</option>
                            </select>
                            <img src="{{ image.value }}" style="max-width: 200px; max-height: 50px">
                        </p>
                        <p><a routerLink="/settings/selloshop/{{integrationId}}/files">Add file that is not listed here</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <span class="text">{{ 'DESCRIPTION'|translate }}</span><br>
                            <wysiwyg [ngModel]="createNew.description" name="description"></wysiwyg>
                        </p>
                    </div>
                </div>

                <p class="button-panel">
                    <button type="button" (click)="createNew.visible = false" class="cancel-button">{{ 'BTN_CANCEL'|translate }}</button>
                    <button type="submit" class="action-button">{{ 'BTN_CREATE'|translate }}</button>
                </p>
            </form>
        </div>
    </div>

    <div class="expandable-panels" *ngIf="tree">
        <template ngFor let-child [ngForOf]="tree">
            <selloshop-category
                *ngIf="editing !== child"
                [node]="child"
                (onSave)="save($event)"
                (onEdit)="editing = child"
                (onDelete)="onChildDeleted($event)"></selloshop-category>
            <div *ngIf="editing === child" class="setting-panel">
                <form #editingForm="ngForm" (submit)="onChildEdit(editingForm.value, editingForm.valid)" class="setting-form">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'NAME'|translate }}</span><br>
                                <input type="text"
                                    [ngModel]="editing.name"
                                    #name="ngModel"
                                    name="name"
                                    required>
                                <small [hidden]="name.valid || (name.pristine && !editingForm.submitted)" class="text-danger">{{ 'Name is required' |translate }}</small>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'SEO_URL'|translate }}</span><br>
                                <input type="text"
                                    [ngModel]="editing.link"
                                    #link="ngModel"
                                    name="link">
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'IMAGE'|translate }}</span><br>
                                <select
                                    [(ngModel)]="editing.image"
                                    #image="ngModel"
                                    name="image">
                                    <option *ngFor="let file of files" [value]="file.url">{{ file.name }}</option>
                                </select>
                                <img src="{{ image.value }}" style="max-width: 200px; max-height: 50px">
                            </p>
                            <p><a routerLink="/settings/selloshop/{{integrationId}}/files">Add file that is not listed here</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <span class="text">{{ 'DESCRIPTION'|translate }}</span><br>
                                <wysiwyg [ngModel]="editing.description" name="description"></wysiwyg>
                            </p>
                        </div>
                    </div>

                    <p class="button-panel">
                        <button type="button" (click)="editing = null" class="cancel-button">{{ 'BTN_CANCEL'|translate }}</button>
                        <button type="submit" class="action-button">{{ 'BTN_SAVE'|translate }}</button>
                    </p>
                </form>
            </div>
        </template>

        <!-- Show this if we want to create a new subcategory -->
        <!--<div class="x-body">
            <div class="setting-panel">
                <h3>{{ 'ADD_SUBCATEGORY'|translate }}</h3>
                <form class="setting-form">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'NAME'|translate }}</span><br>
                                <input type="text">
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'SEO_URL'|translate }}</span><br>
                                <input type="text">
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'IMAGE'|translate }}</span><br>
                                <input type="file">
                                <br>
                                <img src="http://placekitten.com/100/100" style="max-width: 200px; max-height: 50px">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <span class="text">{{ 'DESCRIPTION'|translate }}</span><br>
                                <wysiwyg></wysiwyg>
                            </p>
                        </div>
                    </div>

                    <p class="button-panel">
                        <button class="cancel-button">{{ 'BTN_CANCEL'|translate }}</button>
                        <button class="action-button">{{ 'BTN_CREATE'|translate }}</button>
                    </p>
                </form>
            </div>
        </div>-->

        <!-- Show this if we want to edit a subcategory -->
        <!--<div class="x-body">
            <div class="setting-panel">
                <form class="setting-form">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'NAME'|translate }}</span><br>
                                <input type="text">
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'SEO_URL'|translate }}</span><br>
                                <input type="text">
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <span class="text">{{ 'IMAGE'|translate }}</span><br>
                                <input type="file">
                                <br>
                                <img src="http://placekitten.com/100/100" style="max-width: 200px; max-height: 50px">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <span class="text">{{ 'DESCRIPTION'|translate }}</span><br>
                                <wysiwyg></wysiwyg>
                            </p>
                        </div>
                    </div>

                    <p class="button-panel">
                        <button class="cancel-button">{{ 'BTN_CANCEL'|translate }}</button>
                        <button class="action-button">{{ 'BTN_SAVE'|translate }}</button>
                    </p>
                </form>
            </div>
        </div>-->
    </div>
</div>