#folders ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
    overflow: hidden;
}

#folders li:hover {
	background-color: #edeef0;
}
#folders li a {
	color: #000;
	display: block;
	text-decoration: none;
}
.select-folder .name {
	width: 100%;
	height: 100%;
	display: block;
}
.select-folder .folder-icon-div {
	float: left;
	width: 15px;
}
.select-folder .folder-name-div {
	float: left;
	width: 85%;
}
.select-folder .delete-folder-div {
	float: right;
	width: 10px;
}
.select-folder .delete-folder:hover {
	color: #e73c3c;
	top: 2px;
}

/* Desktop */
@media (min-width: 992px) {
    #sello-product-controls.affix-top {
    	position: static;
    }
    #sello-product-controls.affix {
    	position: fixed;
    	top:60px;
    	float: right;
    	padding-right:25px;
    	width: 25%;
    }
	#folders li {
		display: inline-block;
		position: relative;
		width: 20%;
		margin: 0;
		padding: 5px;
		cursor: pointer;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
    #sello-product-controls.affix {
        position: static;
        width: 100%;
    }
	#folders li {
		display: inline-block;
		position: relative;
		width: 33.33333333333333%;
		margin: 0;
		padding: 5px;
		cursor: pointer;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #sello-product-controls.affix {
        position: static;
        width: 100%;
    }
	#folders li {
		display: inline-block;
		position: relative;
		width: 50%;
		margin: 0;
		padding: 5px;
		cursor: pointer;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
    #sello-product-controls.affix {
        position: static;
        width: 100%;
    }
	#folders li {
		display: inline-block;
		position: relative;
		width: 100%;
		margin: 0;
		padding: 5px;
		cursor: pointer;
	}
}

.folder-tree-cont {
    padding: 0px !important;
    width: 100% !important;
    a:hover {
        text-decoration: none;
    }
    .tree-item-name:hover {
        text-decoration: underline;
    }
}
.folder-tree-node {
    padding: 0px !important;
}
.folder-tree-list {
    padding: 0px !important;
}
.folder-tree-child {
    padding-left: 20px !important;
}
.folder-tree-item {
	height: 25px;
	border: none !important;
}