<div *ngIf="settings && statuses">
    <h1>{{ 'SETTINGS_FYNDIQ' | translate }}</h1>
    <setting-row-select
        mode="dropdown"
        (onSave)="settings.status_id_paid = $event; save('status_id_paid');"
        [choices]="statuses"
        [error]="errors['status_id_paid']"
        [name]="'SETTINGS_STATUS_ID_PAID'|translate"
        [value]="settings.status_id_paid"
    ></setting-row-select>
    <setting-row-select
        mode="dropdown"
        (onSave)="settings.status_id_unpaid = $event; save('status_id_unpaid');"
        [choices]="statuses"
        [error]="errors['status_id_unpaid']"
        [name]="'SETTINGS_STATUS_ID_UNPAID'|translate"
        [value]="settings.status_id_unpaid"
    ></setting-row-select>
</div>