<div class="status-box">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ 'SETTINGS_MANUFACTURERS'|translate }}</h2>
        </div>
        <div class="col-md-6 text-right">
            <button (click)="createNew.visible = true" *ngIf="!createNew.visible" class="action-button"><i class="fa fa-plus"></i> {{ 'CREATE_NEW'|translate }}</button>
        </div>
    </div>

    <div class="setting-panel" *ngIf="createNew.visible">
        <h3>{{ 'NEW_MANUFACTURER'|translate }}</h3>

        <form #createNewForm="ngForm" class="setting-form" (submit)="onCreateNew(createNewForm.value, createNewForm.valid)">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <span class="text">{{ 'NAME'|translate }}</span><br>
                        <input type="text"
                            [ngModel]="createNew.name"
                            #name="ngModel"
                            name="name"
                            required>
                        <small [hidden]="name.valid || (name.pristine && !createNewForm.submitted)" class="text-danger">{{ 'Name is required' |translate }}</small>
                    </p>
                </div>
            </div>

            <p class="button-panel">
                <button type="button" (click)="createNew.visible = false" class="cancel-button">{{ 'BTN_CANCEL'|translate }}</button>
                <button type="submit" class="action-button">{{ 'BTN_CREATE'|translate }}</button>
            </p>
        </form>
    </div>

    <table class="detailed-table">
        <tr class="table-header">
            <th>{{ 'NAME'|translate }}</th>
            <th class="buttons">&nbsp;</th>
        </tr>
        <tr *ngFor="let manufacturer of manufacturers">
            <td>{{ manufacturer.name }}</td>
            <td class="buttons"><i (click)="onDelete(manufacturer)" class="fa fa-trash"></i></td>
        </tr>
    </table>
</div>
